.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
  max-width: 25em;

  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    .caption {
      @include caption;
      opacity: 0.75;
      color: var(--text-secondary);
    }
  }

  .handle {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--surface-sunken);
    border: 1px solid var(--border-input);
    color: var(--text-secondary);
    user-select: none;
    font-size: var(--text-body1);
    border-radius: 4px;
    transition:
      border-color 0.2s,
      background-color 0.1s;

    &:focus-within {
      background-color: var(--surface-sunken-active);
      border-color: var(--border-input-active);
      outline: none;
    }

    span {
      color: var(--color-tertiary);
    }

    input {
      flex: 1;
      padding: 0;
      border: none;
      background: none;
      padding-block: 0.5em;
    }

    :first-child {
      padding-inline-start: 0.5em;
    }

    * {
      padding-inline-end: 0.5em;
    }
  }

  .key-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    gap: 1em;
    align-self: center;
    margin-block-start: 1.5em;

    .icon-button {
      aspect-ratio: 1 / 1;
      width: 2.25em;
      border-radius: 50%;
      display: grid;
      place-items: center;
      padding: 0;
    }
  }
}
