main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--text-primary);

  .intro {
    width: 100%;
    height: 100vh;
    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;

    .description {
      @include label1;
      font-family: $font-mono;
      opacity: 0.8;

      .welcome {
        opacity: 0.5;
      }
    }

    .hr-wrapper {
      display: flex;
      align-items: center;
      flex-direction: row;
      max-width: 26em;
      width: 50%;
      gap: 4px;

      opacity: 70%;
      &::before,
      &::after {
        background-color: var(--border-default);
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpolygon points='6,0 12,6 6,12 0,6' style='stroke:white;fill:none;width:1px;'%3E%3C/polygon%3E%3C/svg%3E");
        content: '';
        min-width: 12px;
        min-height: 12px;
        display: inline-block;
      }

      hr {
        width: 100%;
        border: none;
        border-top: 1px solid var(--border-default);
      }
    }
  }
}

.footer {
  position: absolute;
  inset: auto 0 0;
  width: 100%;
  color: $neutral-50;
  background-color: rgba(from $neutral-950 r g b / 0.8);

  padding-inline: 1.5em;
  padding-block: 1em;
  opacity: 50%;
  text-align: right;
}

@keyframes star-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% -1000%;
  }
}
